In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head(10)

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1
5,10556855,MINORITY ORGAN & TISSUE TRANSPLANT & EDUCATION...,T3,Independent,C1200,Preservation,Trust,1,0,N,5000,1
6,10558440,FRIENDS OF ARTS COUNCIL OF GREATER DENHAM SPRI...,T3,Independent,C1000,Preservation,Trust,1,100000-499999,N,31452,1
7,10566033,ISRAEL EMERGENCY ALLIANCE,T3,Independent,C2000,Preservation,Trust,1,10M-50M,N,7508025,1
8,10570430,ARAMCO BRATS INC,T7,Independent,C1000,ProductDev,Trust,1,1-9999,N,94389,1
9,10571689,INTERNATIONAL ASSOCIATION OF FIRE FIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0

Optimization Attempt: 1

In [2]:
# Drop the non-beneficial columns
clean_application_df = application_df.drop(columns=["EIN", "NAME","USE_CASE", "SPECIAL_CONSIDERATIONS"])
clean_application_df.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,ORGANIZATION,STATUS,INCOME_AMT,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,Association,1,0,5000,1
1,T3,Independent,C2000,Co-operative,1,1-9999,108590,1
2,T5,CompanySponsored,C3000,Association,1,0,5000,0
3,T3,CompanySponsored,C2000,Trust,1,10000-24999,6692,1
4,T3,Independent,C1000,Trust,1,100000-499999,142590,1

In [3]:
# Determine the number of unique values in each column.
clean_application_df.nunique()

APPLICATION_TYPE      17
AFFILIATION            6
CLASSIFICATION        71
ORGANIZATION           4
STATUS                 2
INCOME_AMT             9
ASK_AMT             8747
IS_SUCCESSFUL          2
dtype: int64

In [4]:
# Look at APPLICATION_TYPE value counts for binning
appCounts = clean_application_df["APPLICATION_TYPE"].value_counts()
appCounts

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [5]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
application_types_to_replace = list(appCounts[appCounts<500].index)
# Replace in dataframe
for app in application_types_to_replace:
   clean_application_df['APPLICATION_TYPE'] = clean_application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
clean_application_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [6]:
# Look at INCOME_AMOUNT value counts for binning
incomeCounts= clean_application_df["INCOME_AMT"].value_counts()
incomeCounts

0                24388
25000-99999       3747
100000-499999     3374
1M-5M              955
1-9999             728
10000-24999        543
10M-50M            240
5M-10M             185
50M+               139
Name: INCOME_AMT, dtype: int64

In [7]:
# Choose a cutoff value and create a list of incomes to be replaced
# use the variable name `incomes_to_replace`
incomes_to_replace = list(incomeCounts[incomeCounts<1000].index)

# Replace in dataframe
for inc in incomes_to_replace:
    clean_application_df['INCOME_AMT'] = clean_application_df['INCOME_AMT'].replace(inc,"Other")

# Check to make sure binning was successful
clean_application_df['INCOME_AMT'].value_counts()

0                24388
25000-99999       3747
100000-499999     3374
Other             2790
Name: INCOME_AMT, dtype: int64

In [8]:
# Look at CLASSIFICATION value counts for binning
classCounts = clean_application_df["CLASSIFICATION"].value_counts()
classCounts

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [9]:
# You may find it helpful to look at CLASSIFICATION value counts >10
classCounts10 = classCounts[classCounts>10]
classCounts10

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
Name: CLASSIFICATION, dtype: int64

In [10]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classifications_to_replace = list(classCounts10[classCounts<1000].index)

# Replace in dataframe
for cls in classifications_to_replace:
    clean_application_df['CLASSIFICATION'] = clean_application_df['CLASSIFICATION'].replace(cls,"Other")

# Check to make sure binning was successful
clean_application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
Other     2143
C3000     1918
C2100     1883
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C1720        6
C2400        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1256        2
C1246        2
C1267        2
C2190        1
C4200        1
C1370        1
C5200        1
C1820        1
C2600        1
C1900        1
C1248        1
C6100        1
C1236        1
C1732        1
C2570        1
C1580        1
C3700        1
C2500        1
C1570        1
C1283        1
C2380        1
C1728        1
C2170        1
C4120        1
C8210        1
C4500        1
C1245        1
C2561        1
C2150        1
Name: CLASSIFICATION, dtype: int64

In [11]:
new_application_df= pd.get_dummies(clean_application_df)
new_application_df

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,...,CLASSIFICATION_C8210,CLASSIFICATION_Other,ORGANIZATION_Association,ORGANIZATION_Co-operative,ORGANIZATION_Corporation,ORGANIZATION_Trust,INCOME_AMT_0,INCOME_AMT_100000-499999,INCOME_AMT_25000-99999,INCOME_AMT_Other
0,1,5000,1,0,1,0,0,0,0,0,...,0,0,1,0,0,0,1,0,0,0
1,1,108590,1,0,0,0,1,0,0,0,...,0,0,0,1,0,0,0,0,0,1
2,1,5000,0,0,0,0,0,0,1,0,...,0,0,1,0,0,0,1,0,0,0
3,1,6692,1,0,0,0,1,0,0,0,...,0,0,0,0,0,1,0,0,0,1
4,1,142590,1,0,0,0,1,0,0,0,...,0,0,0,0,0,1,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34294,1,5000,0,0,0,0,0,1,0,0,...,0,0,1,0,0,0,1,0,0,0
34295,1,5000,0,0,0,0,0,1,0,0,...,0,0,1,0,0,0,1,0,0,0
34296,1,5000,0,0,0,0,1,0,0,0,...,0,0,1,0,0,0,1,0,0,0
34297,1,5000,1,0,0,0,0,0,1,0,...,0,0,1,0,0,0,1,0,0,0
34298,1,36500179,0,0,0,0,1,0,0,0,...,0,0,0,1,0,0,0,0,0,1

In [12]:
# Split the preprocessed data into our features and target arrays (X,y)
y= new_application_df["IS_SUCCESSFUL"]
X= new_application_df.drop(columns="IS_SUCCESSFUL")

# Split the preprocessed data into a training and testing datatset
X_train,X_test,y_train,y_test = train_test_split(X,y)

In [13]:
y[:5]

0    1
1    1
2    0
3    1
4    1
Name: IS_SUCCESSFUL, dtype: int64

In [14]:
X[:5]

,STATUS,ASK_AMT,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,APPLICATION_TYPE_T7,...,CLASSIFICATION_C8210,CLASSIFICATION_Other,ORGANIZATION_Association,ORGANIZATION_Co-operative,ORGANIZATION_Corporation,ORGANIZATION_Trust,INCOME_AMT_0,INCOME_AMT_100000-499999,INCOME_AMT_25000-99999,INCOME_AMT_Other
0,1,5000,0,1,0,0,0,0,0,0,...,0,0,1,0,0,0,1,0,0,0
1,1,108590,0,0,0,1,0,0,0,0,...,0,0,0,1,0,0,0,0,0,1
2,1,5000,0,0,0,0,0,1,0,0,...,0,0,1,0,0,0,1,0,0,0
3,1,6692,0,0,0,1,0,0,0,0,...,0,0,0,0,0,1,0,0,0,1
4,1,142590,0,0,0,1,0,0,0,0,...,0,0,0,0,0,1,0,1,0,0

In [15]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [16]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
n_input_features = len(X_train_scaled[0])
nn = tf.keras.models.Sequential()
# First hidden layer
nn.add(tf.keras.layers.Dense(input_dim=n_input_features,units=85,activation='relu'))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=20,activation='relu'))

# Third hidden layer
nn.add(tf.keras.layers.Dense(units=10,activation='relu'))

# Output layer
nn.add(tf.keras.layers.Dense(units=1,activation='sigmoid'))

# Check the structure of the model
nn.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 85)                6460

 dense_1 (Dense)             (None, 20)                1720

 dense_2 (Dense)             (None, 10)                210

 dense_3 (Dense)             (None, 1)                 11

=================================================================
Total params: 8,401
Trainable params: 8,401
Non-trainable params: 0
_________________________________________________________________

In [17]:
# Compile the model
nn.compile(loss='binary_crossentropy', optimizer='adam',metrics=['accuracy'])

In [18]:
# Train the model
fit_model= nn.fit(X_train,y_train,epochs=175)

Epoch 1/175
804/804 [==============================] - 4s 3ms/step - loss: 5832.4321 - accuracy: 0.4897
Epoch 2/175
804/804 [==============================] - 3s 3ms/step - loss: 34708.7578 - accuracy: 0.4969
Epoch 3/175
804/804 [==============================] - 3s 4ms/step - loss: 7487.0718 - accuracy: 0.4883
Epoch 4/175
804/804 [==============================] - 2s 3ms/step - loss: 18764.9805 - accuracy: 0.5141
Epoch 5/175
804/804 [==============================] - 1s 1ms/step - loss: 151.9041 - accuracy: 0.5310
Epoch 6/175
804/804 [==============================] - 1s 1ms/step - loss: 0.6944 - accuracy: 0.5310
Epoch 7/175
804/804 [==============================] - 1s 1ms/step - loss: 0.6915 - accuracy: 0.5310
Epoch 8/175
804/804 [==============================] - 1s 1ms/step - loss: 0.6913 - accuracy: 0.5310
Epoch 9/175
804/804 [==============================] - 1s 1ms/step - loss: 0.6913 - accuracy: 0.5310
Epoch 10/175
804/804 [==============================] - 2s 3ms/step - loss: 0.6912 - accuracy: 0.5310
Epoch 11/175
804/804 [==============================] - 2s 2ms/step - loss: 0.6913 - accuracy: 0.5310
Epoch 12/175
804/804 [==============================] - 1s 2ms/step - loss: 0.6913 - accuracy: 0.5310
Epoch 13/175
804/804 [==============================] - 1s 2ms/step - loss: 0.6913 - accuracy: 0.5310
Epoch 14/175
804/804 [==============================] - 1s 1ms/step - loss: 0.6913 - accuracy: 0.5310
Epoch 15/175
804/804 [==============================] - 1s 1ms/step - loss: 0.6912 - accuracy: 0.5310
Epoch 16/175
804/804 [==============================] - 1s 1ms/step - loss: 0.6913 - accuracy: 0.5310
Epoch 17/175
804/804 [==============================] - 1s 1ms/step - loss: 0.6912 - accuracy: 0.5310
Epoch 18/175
804/804 [==============================] - 1s 1ms/step - loss: 0.6913 - accuracy: 0.5310
Epoch 19/175
804/804 [==============================] - 1s 1ms/step - loss: 0.6913 - accuracy: 0.5310
Epoch 20/175
804/804 [==============================] - 1s 1ms/step - loss: 0.6913 - accuracy: 0.5310
Epoch 21/175
804/804 [==============================] - 1s 1ms/step - loss: 0.6913 - accuracy: 0.5310
Epoch 22/175
804/804 [==============================] - 1s 2ms/step - loss: 0.6913 - accuracy: 0.5310
Epoch 23/175
804/804 [==============================] - 1s 2ms/step - loss: 0.6913 - accuracy: 0.5310
Epoch 24/175
804/804 [==============================] - 1s 2ms/step - loss: 0.6913 - accuracy: 0.5310
Epoch 25/175
804/804 [==============================] - 1s 1ms/step - loss: 0.6913 - accuracy: 0.5310
Epoch 26/175
804/804 [==============================] - 1s 1ms/step - loss: 0.6913 - accuracy: 0.5310
Epoch 27/175
804/804 [==============================] - 1s 1ms/step - loss: 0.6913 - accuracy: 0.5310
Epoch 28/175
804/804 [==============================] - 1s 1ms/step - loss: 0.6913 - accuracy: 0.5310
Epoch 29/175
804/804 [==============================] - 1s 1ms/step - loss: 0.6913 - accuracy: 0.5310
Epoch 30/175
804/804 [==============================] - 1s 1ms/step - loss: 0.6913 - accuracy: 0.5310
Epoch 31/175
804/804 [==============================] - 1s 1ms/step - loss: 0.6913 - accuracy: 0.5310
Epoch 32/175
804/804 [==============================] - 1s 1ms/step - loss: 0.6913 - accuracy: 0.5310
Epoch 33/175
804/804 [==============================] - 1s 2ms/step - loss: 0.6913 - accuracy: 0.5310
Epoch 34/175
804/804 [==============================] - 2s 2ms/step - loss: 0.6913 - accuracy: 0.5310
Epoch 35/175
804/804 [==============================] - 2s 3ms/step - loss: 0.6913 - accuracy: 0.5310
Epoch 36/175
804/804 [==============================] - 1s 2ms/step - loss: 0.6912 - accuracy: 0.5310
Epoch 37/175
804/804 [==============================] - 1s 2ms/step - loss: 0.6913 - accuracy: 0.5310
Epoch 38/175
804/804 [==============================] - 1s 1ms/step - loss: 0.6913 - accuracy: 0.5310
Epoch 39/175
804/804 [==============================] - 1s 1ms/step - loss: 0.6913 - accuracy: 0.5310
Epoch 40/175
804/804 [==============================] - 1s 2ms/step - loss: 0.6913 - accuracy: 0.5310
Epoch 41/175
804/804 [==============================] - 1s 1ms/step - loss: 0.6913 - accuracy: 0.5310
Epoch 42/175
804/804 [==============================] - 1s 1ms/step - loss: 0.6913 - accuracy: 0.5310
Epoch 43/175
804/804 [==============================] - 1s 1ms/step - loss: 0.6913 - accuracy: 0.5310
Epoch 44/175
804/804 [==============================] - 1s 2ms/step - loss: 0.6913 - accuracy: 0.5310
Epoch 45/175
804/804 [==============================] - 1s 2ms/step - loss: 0.6913 - accuracy: 0.5310
Epoch 46/175
804/804 [==============================] - 1s 1ms/step - loss: 0.6913 - accuracy: 0.5310
Epoch 47/175
804/804 [==============================] - 1s 1ms/step - loss: 0.6913 - accuracy: 0.5310
Epoch 48/175
804/804 [==============================] - 1s 1ms/step - loss: 0.6913 - accuracy: 0.5310
Epoch 49/175
804/804 [==============================] - 1s 1ms/step - loss: 0.6913 - accuracy: 0.5310
Epoch 50/175
804/804 [==============================] - 1s 1ms/step - loss: 0.6913 - accuracy: 0.5310
Epoch 51/175
804/804 [==============================] - 1s 1ms/step - loss: 0.6913 - accuracy: 0.5310
Epoch 52/175
804/804 [==============================] - 1s 1ms/step - loss: 0.6913 - accuracy: 0.5310
Epoch 53/175
804/804 [==============================] - 1s 1ms/step - loss: 0.6913 - accuracy: 0.5310
Epoch 54/175
804/804 [==============================] - 1s 1ms/step - loss: 0.6913 - accuracy: 0.5310
Epoch 55/175
804/804 [==============================] - 1s 2ms/step - loss: 0.6913 - accuracy: 0.5310
Epoch 56/175
804/804 [==============================] - 1s 2ms/step - loss: 0.6913 - accuracy: 0.5310
Epoch 57/175
804/804 [==============================] - 1s 1ms/step - loss: 0.6913 - accuracy: 0.5310
Epoch 58/175
804/804 [==============================] - 1s 1ms/step - loss: 0.6913 - accuracy: 0.5310
Epoch 59/175
804/804 [==============================] - 1s 1ms/step - loss: 0.6913 - accuracy: 0.5310
Epoch 60/175
804/804 [==============================] - 2s 2ms/step - loss: 0.6913 - accuracy: 0.5310
Epoch 61/175
804/804 [==============================] - 1s 1ms/step - loss: 0.6913 - accuracy: 0.5310
Epoch 62/175
804/804 [==============================] - 1s 1ms/step - loss: 0.6912 - accuracy: 0.5310
Epoch 63/175
804/804 [==============================] - 1s 1ms/step - loss: 0.6913 - accuracy: 0.5310
Epoch 64/175
804/804 [==============================] - 1s 1ms/step - loss: 0.6913 - accuracy: 0.5310
Epoch 65/175
804/804 [==============================] - 1s 2ms/step - loss: 0.6913 - accuracy: 0.5310
Epoch 66/175
804/804 [==============================] - 1s 2ms/step - loss: 0.6913 - accuracy: 0.5310
Epoch 67/175
804/804 [==============================] - 1s 2ms/step - loss: 0.6913 - accuracy: 0.5310
Epoch 68/175
804/804 [==============================] - 1s 1ms/step - loss: 0.6912 - accuracy: 0.5310
Epoch 69/175
804/804 [==============================] - 1s 1ms/step - loss: 0.6913 - accuracy: 0.5310
Epoch 70/175
804/804 [==============================] - 2s 2ms/step - loss: 0.6913 - accuracy: 0.5310
Epoch 71/175
804/804 [==============================] - 1s 2ms/step - loss: 0.6913 - accuracy: 0.5310
Epoch 72/175
804/804 [==============================] - 1s 1ms/step - loss: 0.6913 - accuracy: 0.5310
Epoch 73/175
804/804 [==============================] - 1s 1ms/step - loss: 0.6913 - accuracy: 0.5310
Epoch 74/175
804/804 [==============================] - 1s 1ms/step - loss: 0.6913 - accuracy: 0.5310
Epoch 75/175
804/804 [==============================] - 1s 2ms/step - loss: 0.6913 - accuracy: 0.5310
Epoch 76/175
804/804 [==============================] - 1s 2ms/step - loss: 0.6913 - accuracy: 0.5310
Epoch 77/175
804/804 [==============================] - 1s 2ms/step - loss: 0.6913 - accuracy: 0.5310
Epoch 78/175
804/804 [==============================] - 1s 1ms/step - loss: 0.6913 - accuracy: 0.5310
Epoch 79/175
804/804 [==============================] - 1s 1ms/step - loss: 0.6913 - accuracy: 0.5310
Epoch 80/175
804/804 [==============================] - 1s 1ms/step - loss: 0.6913 - accuracy: 0.5310
Epoch 81/175
804/804 [==============================] - 1s 1ms/step - loss: 0.6912 - accuracy: 0.5310
Epoch 82/175
804/804 [==============================] - 1s 1ms/step - loss: 0.6913 - accuracy: 0.5310
Epoch 83/175
804/804 [==============================] - 1s 1ms/step - loss: 0.6913 - accuracy: 0.5310
Epoch 84/175
804/804 [==============================] - 1s 2ms/step - loss: 0.6913 - accuracy: 0.5310
Epoch 85/175
804/804 [==============================] - 2s 2ms/step - loss: 0.6913 - accuracy: 0.5310
Epoch 86/175
804/804 [==============================] - 1s 2ms/step - loss: 0.6913 - accuracy: 0.5310
Epoch 87/175
804/804 [==============================] - 1s 2ms/step - loss: 0.6913 - accuracy: 0.5310
Epoch 88/175
804/804 [==============================] - 1s 2ms/step - loss: 0.6913 - accuracy: 0.5310
Epoch 89/175
804/804 [==============================] - 1s 2ms/step - loss: 0.6913 - accuracy: 0.5310
Epoch 90/175
804/804 [==============================] - 1s 2ms/step - loss: 0.6913 - accuracy: 0.5310
Epoch 91/175
804/804 [==============================] - 1s 1ms/step - loss: 0.6913 - accuracy: 0.5310
Epoch 92/175
804/804 [==============================] - 1s 1ms/step - loss: 0.6913 - accuracy: 0.5310
Epoch 93/175
804/804 [==============================] - 1s 1ms/step - loss: 0.6913 - accuracy: 0.5310
Epoch 94/175
804/804 [==============================] - 1s 1ms/step - loss: 0.6913 - accuracy: 0.5310
Epoch 95/175
804/804 [==============================] - 1s 1ms/step - loss: 0.6913 - accuracy: 0.5310
Epoch 96/175
804/804 [==============================] - 1s 1ms/step - loss: 0.6913 - accuracy: 0.5310
Epoch 97/175
804/804 [==============================] - 1s 1ms/step - loss: 0.6912 - accuracy: 0.5310
Epoch 98/175
804/804 [==============================] - 1s 2ms/step - loss: 0.6913 - accuracy: 0.5310
Epoch 99/175
804/804 [==============================] - 1s 2ms/step - loss: 0.6912 - accuracy: 0.5310
Epoch 100/175
804/804 [==============================] - 1s 2ms/step - loss: 0.6913 - accuracy: 0.5310
Epoch 101/175
804/804 [==============================] - 1s 1ms/step - loss: 0.6912 - accuracy: 0.5310
Epoch 102/175
804/804 [==============================] - 1s 1ms/step - loss: 0.6913 - accuracy: 0.5310
Epoch 103/175
804/804 [==============================] - 1s 1ms/step - loss: 0.6913 - accuracy: 0.5310
Epoch 104/175
804/804 [==============================] - 1s 1ms/step - loss: 0.6913 - accuracy: 0.5310
Epoch 105/175
804/804 [==============================] - 1s 1ms/step - loss: 0.6913 - accuracy: 0.5310
Epoch 106/175
804/804 [==============================] - 1s 1ms/step - loss: 0.6913 - accuracy: 0.5310
Epoch 107/175
804/804 [==============================] - 1s 1ms/step - loss: 0.6913 - accuracy: 0.5310
Epoch 108/175
804/804 [==============================] - 1s 1ms/step - loss: 0.6913 - accuracy: 0.5310
Epoch 109/175
804/804 [==============================] - 2s 2ms/step - loss: 0.6913 - accuracy: 0.5310
Epoch 110/175
804/804 [==============================] - 2s 3ms/step - loss: 0.6913 - accuracy: 0.5310
Epoch 111/175
804/804 [==============================] - 1s 1ms/step - loss: 0.6913 - accuracy: 0.5310
Epoch 112/175
804/804 [==============================] - 1s 1ms/step - loss: 0.6913 - accuracy: 0.5310
Epoch 113/175
804/804 [==============================] - 1s 1ms/step - loss: 0.6913 - accuracy: 0.5310
Epoch 114/175
804/804 [==============================] - 1s 1ms/step - loss: 0.6912 - accuracy: 0.5310
Epoch 115/175
804/804 [==============================] - 1s 1ms/step - loss: 0.6913 - accuracy: 0.5310
Epoch 116/175
804/804 [==============================] - 1s 1ms/step - loss: 0.6913 - accuracy: 0.5310
Epoch 117/175
804/804 [==============================] - 1s 1ms/step - loss: 0.6913 - accuracy: 0.5310
Epoch 118/175
804/804 [==============================] - 1s 1ms/step - loss: 0.6913 - accuracy: 0.5310
Epoch 119/175
804/804 [==============================] - 1s 1ms/step - loss: 0.6913 - accuracy: 0.5310
Epoch 120/175
804/804 [==============================] - 1s 2ms/step - loss: 0.6913 - accuracy: 0.5310
Epoch 121/175
804/804 [==============================] - 1s 2ms/step - loss: 0.6913 - accuracy: 0.5310
Epoch 122/175
804/804 [==============================] - 1s 1ms/step - loss: 0.6913 - accuracy: 0.5310
Epoch 123/175
804/804 [==============================] - 1s 1ms/step - loss: 0.6913 - accuracy: 0.5310
Epoch 124/175
804/804 [==============================] - 1s 1ms/step - loss: 0.6913 - accuracy: 0.5310
Epoch 125/175
804/804 [==============================] - 1s 1ms/step - loss: 0.6913 - accuracy: 0.5310
Epoch 126/175
804/804 [==============================] - 1s 1ms/step - loss: 0.6913 - accuracy: 0.5310
Epoch 127/175
804/804 [==============================] - 1s 1ms/step - loss: 0.6913 - accuracy: 0.5310
Epoch 128/175
804/804 [==============================] - 1s 1ms/step - loss: 0.6913 - accuracy: 0.5310
Epoch 129/175
804/804 [==============================] - 1s 1ms/step - loss: 0.6913 - accuracy: 0.5310
Epoch 130/175
804/804 [==============================] - 1s 1ms/step - loss: 0.6913 - accuracy: 0.5310
Epoch 131/175
804/804 [==============================] - 1s 2ms/step - loss: 0.6912 - accuracy: 0.5310
Epoch 132/175
804/804 [==============================] - 1s 2ms/step - loss: 0.6912 - accuracy: 0.5310
Epoch 133/175
804/804 [==============================] - 1s 2ms/step - loss: 0.6913 - accuracy: 0.5310
Epoch 134/175
804/804 [==============================] - 1s 2ms/step - loss: 0.6913 - accuracy: 0.5310
Epoch 135/175
804/804 [==============================] - 2s 2ms/step - loss: 0.6913 - accuracy: 0.5310
Epoch 136/175
804/804 [==============================] - 1s 1ms/step - loss: 0.6913 - accuracy: 0.5310
Epoch 137/175
804/804 [==============================] - 1s 1ms/step - loss: 0.6912 - accuracy: 0.5310
Epoch 138/175
804/804 [==============================] - 1s 1ms/step - loss: 0.6913 - accuracy: 0.5310
Epoch 139/175
804/804 [==============================] - 1s 1ms/step - loss: 0.6912 - accuracy: 0.5310
Epoch 140/175
804/804 [==============================] - 1s 1ms/step - loss: 0.6913 - accuracy: 0.5310
Epoch 141/175
804/804 [==============================] - 1s 1ms/step - loss: 0.6913 - accuracy: 0.5310
Epoch 142/175
804/804 [==============================] - 1s 2ms/step - loss: 0.6913 - accuracy: 0.5310
Epoch 143/175
804/804 [==============================] - 1s 2ms/step - loss: 0.6913 - accuracy: 0.5310
Epoch 144/175
804/804 [==============================] - 1s 1ms/step - loss: 0.6913 - accuracy: 0.5310
Epoch 145/175
804/804 [==============================] - 1s 1ms/step - loss: 0.6913 - accuracy: 0.5310
Epoch 146/175
804/804 [==============================] - 1s 1ms/step - loss: 0.6913 - accuracy: 0.5310
Epoch 147/175
804/804 [==============================] - 1s 1ms/step - loss: 0.6913 - accuracy: 0.5310
Epoch 148/175
804/804 [==============================] - 1s 1ms/step - loss: 0.6913 - accuracy: 0.5310
Epoch 149/175
804/804 [==============================] - 1s 1ms/step - loss: 0.6913 - accuracy: 0.5310
Epoch 150/175
804/804 [==============================] - 1s 1ms/step - loss: 0.6912 - accuracy: 0.5310
Epoch 151/175
804/804 [==============================] - 1s 1ms/step - loss: 0.6913 - accuracy: 0.5310
Epoch 152/175
804/804 [==============================] - 1s 1ms/step - loss: 0.6913 - accuracy: 0.5310
Epoch 153/175
804/804 [==============================] - 1s 2ms/step - loss: 0.6912 - accuracy: 0.5310
Epoch 154/175
804/804 [==============================] - 1s 2ms/step - loss: 0.6913 - accuracy: 0.5310
Epoch 155/175
804/804 [==============================] - 1s 1ms/step - loss: 0.6913 - accuracy: 0.5310
Epoch 156/175
804/804 [==============================] - 1s 1ms/step - loss: 0.6913 - accuracy: 0.5310
Epoch 157/175
804/804 [==============================] - 1s 1ms/step - loss: 0.6913 - accuracy: 0.5310
Epoch 158/175
804/804 [==============================] - 1s 1ms/step - loss: 0.6913 - accuracy: 0.5310
Epoch 159/175
804/804 [==============================] - 1s 1ms/step - loss: 0.6913 - accuracy: 0.5310
Epoch 160/175
804/804 [==============================] - 1s 2ms/step - loss: 0.6913 - accuracy: 0.5310
Epoch 161/175
804/804 [==============================] - 2s 2ms/step - loss: 0.6913 - accuracy: 0.5310
Epoch 162/175
804/804 [==============================] - 1s 1ms/step - loss: 0.6913 - accuracy: 0.5310
Epoch 163/175
804/804 [==============================] - 1s 2ms/step - loss: 0.6913 - accuracy: 0.5310
Epoch 164/175
804/804 [==============================] - 1s 2ms/step - loss: 0.6913 - accuracy: 0.5310
Epoch 165/175
804/804 [==============================] - 1s 1ms/step - loss: 0.6913 - accuracy: 0.5310
Epoch 166/175
804/804 [==============================] - 1s 1ms/step - loss: 0.6913 - accuracy: 0.5310
Epoch 167/175
804/804 [==============================] - 1s 1ms/step - loss: 0.6913 - accuracy: 0.5310
Epoch 168/175
804/804 [==============================] - 1s 1ms/step - loss: 0.6913 - accuracy: 0.5310
Epoch 169/175
804/804 [==============================] - 1s 1ms/step - loss: 0.6912 - accuracy: 0.5310
Epoch 170/175
804/804 [==============================] - 1s 1ms/step - loss: 0.6913 - accuracy: 0.5310
Epoch 171/175
804/804 [==============================] - 1s 1ms/step - loss: 0.6913 - accuracy: 0.5310
Epoch 172/175
804/804 [==============================] - 1s 1ms/step - loss: 0.6913 - accuracy: 0.5310
Epoch 173/175
804/804 [==============================] - 1s 1ms/step - loss: 0.6912 - accuracy: 0.5310
Epoch 174/175
804/804 [==============================] - 1s 1ms/step - loss: 0.6913 - accuracy: 0.5310
Epoch 175/175
804/804 [==============================] - 1s 2ms/step - loss: 0.6913 - accuracy: 0.5310

Optimization Attempt: 2

In [19]:
# Drop the non-beneficial columns
clean_application_df = application_df.drop(columns=["EIN", "NAME","USE_CASE", "SPECIAL_CONSIDERATIONS", "STATUS"])
clean_application_df.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,ORGANIZATION,INCOME_AMT,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,Association,0,5000,1
1,T3,Independent,C2000,Co-operative,1-9999,108590,1
2,T5,CompanySponsored,C3000,Association,0,5000,0
3,T3,CompanySponsored,C2000,Trust,10000-24999,6692,1
4,T3,Independent,C1000,Trust,100000-499999,142590,1

In [20]:
# Determine the number of unique values in each column.
clean_application_df.nunique()

APPLICATION_TYPE      17
AFFILIATION            6
CLASSIFICATION        71
ORGANIZATION           4
INCOME_AMT             9
ASK_AMT             8747
IS_SUCCESSFUL          2
dtype: int64

In [21]:
# Look at APPLICATION_TYPE value counts for binning
appCounts = clean_application_df["APPLICATION_TYPE"].value_counts()
appCounts

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [22]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
application_types_to_replace = list(appCounts[appCounts<500].index)
# Replace in dataframe
for app in application_types_to_replace:
   clean_application_df['APPLICATION_TYPE'] = clean_application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
clean_application_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [23]:
# Look at CLASSIFICATION value counts for binning
classCounts = clean_application_df["CLASSIFICATION"].value_counts()
classCounts

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [24]:
# You may find it helpful to look at CLASSIFICATION value counts >10
classCounts10 = classCounts[classCounts>10]
classCounts10

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
Name: CLASSIFICATION, dtype: int64

In [25]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classifications_to_replace = list(classCounts10[classCounts<1000].index)

# Replace in dataframe
for cls in classifications_to_replace:
    clean_application_df['CLASSIFICATION'] = clean_application_df['CLASSIFICATION'].replace(cls,"Other")

# Check to make sure binning was successful
clean_application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
Other     2143
C3000     1918
C2100     1883
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C1720        6
C2400        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1256        2
C1246        2
C1267        2
C2190        1
C4200        1
C1370        1
C5200        1
C1820        1
C2600        1
C1900        1
C1248        1
C6100        1
C1236        1
C1732        1
C2570        1
C1580        1
C3700        1
C2500        1
C1570        1
C1283        1
C2380        1
C1728        1
C2170        1
C4120        1
C8210        1
C4500        1
C1245        1
C2561        1
C2150        1
Name: CLASSIFICATION, dtype: int64

In [26]:
new_application_df= pd.get_dummies(clean_application_df)
new_application_df

,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,APPLICATION_TYPE_T7,...,ORGANIZATION_Trust,INCOME_AMT_0,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M
0,5000,1,0,1,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
1,108590,1,0,0,0,1,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
2,5000,0,0,0,0,0,0,1,0,0,...,0,1,0,0,0,0,0,0,0,0
3,6692,1,0,0,0,1,0,0,0,0,...,1,0,0,1,0,0,0,0,0,0
4,142590,1,0,0,0,1,0,0,0,0,...,1,0,0,0,1,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34294,5000,0,0,0,0,0,1,0,0,0,...,0,1,0,0,0,0,0,0,0,0
34295,5000,0,0,0,0,0,1,0,0,0,...,0,1,0,0,0,0,0,0,0,0
34296,5000,0,0,0,0,1,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
34297,5000,1,0,0,0,0,0,1,0,0,...,0,1,0,0,0,0,0,0,0,0
34298,36500179,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0

In [27]:
# Split the preprocessed data into our features and target arrays (X,y)
y= new_application_df["IS_SUCCESSFUL"]
X= new_application_df.drop(columns="IS_SUCCESSFUL")

# Split the preprocessed data into a training and testing datatset
X_train,X_test,y_train,y_test = train_test_split(X,y)

In [28]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [29]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
n_input_features = len(X_train_scaled[0])
nn = tf.keras.models.Sequential()
# First hidden layer
nn.add(tf.keras.layers.Dense(input_dim=n_input_features,units=70,activation='relu'))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=10,activation='relu'))

# Output layer
nn.add(tf.keras.layers.Dense(units=1,activation='sigmoid'))

# Check the structure of the model
nn.summary()

Model: "sequential_1"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_4 (Dense)             (None, 70)                5600

 dense_5 (Dense)             (None, 10)                710

 dense_6 (Dense)             (None, 1)                 11

=================================================================
Total params: 6,321
Trainable params: 6,321
Non-trainable params: 0
_________________________________________________________________

In [30]:
# Compile the model
nn.compile(loss='binary_crossentropy', optimizer='adam',metrics=['accuracy'])

In [31]:
# Train the model
fit_model= nn.fit(X_train,y_train,epochs=150)

Epoch 1/150
804/804 [==============================] - 2s 2ms/step - loss: 48369.8867 - accuracy: 0.4929
Epoch 2/150
804/804 [==============================] - 1s 2ms/step - loss: 31801.6582 - accuracy: 0.5020
Epoch 3/150
804/804 [==============================] - 1s 2ms/step - loss: 42092.0781 - accuracy: 0.4897
Epoch 4/150
804/804 [==============================] - 1s 2ms/step - loss: 25587.9824 - accuracy: 0.5019
Epoch 5/150
804/804 [==============================] - 1s 1ms/step - loss: 18451.5859 - accuracy: 0.5182
Epoch 6/150
804/804 [==============================] - 1s 1ms/step - loss: 10251.4883 - accuracy: 0.4907
Epoch 7/150
804/804 [==============================] - 1s 1ms/step - loss: 7897.1626 - accuracy: 0.5307
Epoch 8/150
804/804 [==============================] - 1s 1ms/step - loss: 18225.5430 - accuracy: 0.5280
Epoch 9/150
804/804 [==============================] - 1s 1ms/step - loss: 7094.0503 - accuracy: 0.5313
Epoch 10/150
804/804 [==============================] - 1s 1ms/step - loss: 24860.5117 - accuracy: 0.4999
Epoch 11/150
804/804 [==============================] - 1s 1ms/step - loss: 5728.9839 - accuracy: 0.5380
Epoch 12/150
804/804 [==============================] - 1s 1ms/step - loss: 19559.0762 - accuracy: 0.5191
Epoch 13/150
804/804 [==============================] - 1s 1ms/step - loss: 14649.6797 - accuracy: 0.5191
Epoch 14/150
804/804 [==============================] - 1s 2ms/step - loss: 6395.3223 - accuracy: 0.5186
Epoch 15/150
804/804 [==============================] - 1s 2ms/step - loss: 8253.7539 - accuracy: 0.5070
Epoch 16/150
804/804 [==============================] - 1s 1ms/step - loss: 9865.5371 - accuracy: 0.5308
Epoch 17/150
804/804 [==============================] - 1s 1ms/step - loss: 7913.0000 - accuracy: 0.4997
Epoch 18/150
804/804 [==============================] - 1s 1ms/step - loss: 3916.6885 - accuracy: 0.5295
Epoch 19/150
804/804 [==============================] - 1s 1ms/step - loss: 6185.0386 - accuracy: 0.5237
Epoch 20/150
804/804 [==============================] - 1s 1ms/step - loss: 3536.1814 - accuracy: 0.5471
Epoch 21/150
804/804 [==============================] - 1s 1ms/step - loss: 1212.2094 - accuracy: 0.5537
Epoch 22/150
804/804 [==============================] - 1s 1ms/step - loss: 2396.4468 - accuracy: 0.5751
Epoch 23/150
804/804 [==============================] - 1s 1ms/step - loss: 2793.2832 - accuracy: 0.5372
Epoch 24/150
804/804 [==============================] - 1s 1ms/step - loss: 2691.0063 - accuracy: 0.5044
Epoch 25/150
804/804 [==============================] - 1s 2ms/step - loss: 4146.7891 - accuracy: 0.5213
Epoch 26/150
804/804 [==============================] - 1s 1ms/step - loss: 7133.4556 - accuracy: 0.5213
Epoch 27/150
804/804 [==============================] - 1s 2ms/step - loss: 1797.9187 - accuracy: 0.5500
Epoch 28/150
804/804 [==============================] - 1s 1ms/step - loss: 2973.5740 - accuracy: 0.5446
Epoch 29/150
804/804 [==============================] - 1s 1ms/step - loss: 1346.9445 - accuracy: 0.5579
Epoch 30/150
804/804 [==============================] - 1s 1ms/step - loss: 1337.1205 - accuracy: 0.5792
Epoch 31/150
804/804 [==============================] - 1s 1ms/step - loss: 1148.0442 - accuracy: 0.5871
Epoch 32/150
804/804 [==============================] - 1s 1ms/step - loss: 1041.8026 - accuracy: 0.5016
Epoch 33/150
804/804 [==============================] - 1s 1ms/step - loss: 385.2034 - accuracy: 0.5348
Epoch 34/150
804/804 [==============================] - 1s 1ms/step - loss: 0.7098 - accuracy: 0.5348
Epoch 35/150
804/804 [==============================] - 1s 1ms/step - loss: 0.6948 - accuracy: 0.5348
Epoch 36/150
804/804 [==============================] - 1s 2ms/step - loss: 0.6912 - accuracy: 0.5348
Epoch 37/150
804/804 [==============================] - 1s 1ms/step - loss: 0.6908 - accuracy: 0.5348
Epoch 38/150
804/804 [==============================] - 1s 1ms/step - loss: 0.6907 - accuracy: 0.5348
Epoch 39/150
804/804 [==============================] - 1s 1ms/step - loss: 0.6907 - accuracy: 0.5348
Epoch 40/150
804/804 [==============================] - 1s 1ms/step - loss: 0.6907 - accuracy: 0.5348
Epoch 41/150
804/804 [==============================] - 1s 1ms/step - loss: 0.6897 - accuracy: 0.5348
Epoch 42/150
804/804 [==============================] - 1s 1ms/step - loss: 0.6743 - accuracy: 0.5348
Epoch 43/150
804/804 [==============================] - 1s 1ms/step - loss: 0.6894 - accuracy: 0.5348
Epoch 44/150
804/804 [==============================] - 1s 1ms/step - loss: 0.6908 - accuracy: 0.5348
Epoch 45/150
804/804 [==============================] - 1s 1ms/step - loss: 0.6907 - accuracy: 0.5348
Epoch 46/150
804/804 [==============================] - 1s 2ms/step - loss: 0.6907 - accuracy: 0.5348
Epoch 47/150
804/804 [==============================] - 1s 2ms/step - loss: 0.6908 - accuracy: 0.5348
Epoch 48/150
804/804 [==============================] - 1s 1ms/step - loss: 0.6905 - accuracy: 0.5348
Epoch 49/150
804/804 [==============================] - 1s 1ms/step - loss: 0.6969 - accuracy: 0.5357
Epoch 50/150
804/804 [==============================] - 1s 1ms/step - loss: 0.6908 - accuracy: 0.5348
Epoch 51/150
804/804 [==============================] - 1s 1ms/step - loss: 0.6908 - accuracy: 0.5348
Epoch 52/150
804/804 [==============================] - 1s 1ms/step - loss: 0.6908 - accuracy: 0.5348
Epoch 53/150
804/804 [==============================] - 1s 1ms/step - loss: 0.6908 - accuracy: 0.5348
Epoch 54/150
804/804 [==============================] - 1s 1ms/step - loss: 0.6908 - accuracy: 0.5348
Epoch 55/150
804/804 [==============================] - 1s 1ms/step - loss: 0.6907 - accuracy: 0.5348
Epoch 56/150
804/804 [==============================] - 1s 1ms/step - loss: 0.6908 - accuracy: 0.5348
Epoch 57/150
804/804 [==============================] - 1s 2ms/step - loss: 0.6907 - accuracy: 0.5348
Epoch 58/150
804/804 [==============================] - 1s 1ms/step - loss: 0.6908 - accuracy: 0.5348
Epoch 59/150
804/804 [==============================] - 1s 1ms/step - loss: 0.6908 - accuracy: 0.5348
Epoch 60/150
804/804 [==============================] - 1s 1ms/step - loss: 0.6908 - accuracy: 0.5348
Epoch 61/150
804/804 [==============================] - 1s 1ms/step - loss: 0.6907 - accuracy: 0.5348
Epoch 62/150
804/804 [==============================] - 1s 1ms/step - loss: 0.6908 - accuracy: 0.5348
Epoch 63/150
804/804 [==============================] - 1s 1ms/step - loss: 0.6908 - accuracy: 0.5348
Epoch 64/150
804/804 [==============================] - 1s 1ms/step - loss: 0.6908 - accuracy: 0.5348
Epoch 65/150
804/804 [==============================] - 1s 1ms/step - loss: 0.6908 - accuracy: 0.5348
Epoch 66/150
804/804 [==============================] - 1s 1ms/step - loss: 0.6908 - accuracy: 0.5348
Epoch 67/150
804/804 [==============================] - 1s 1ms/step - loss: 0.6907 - accuracy: 0.5348
Epoch 68/150
804/804 [==============================] - 1s 2ms/step - loss: 0.6907 - accuracy: 0.5348
Epoch 69/150
804/804 [==============================] - 1s 1ms/step - loss: 0.6908 - accuracy: 0.5348
Epoch 70/150
804/804 [==============================] - 1s 1ms/step - loss: 0.6908 - accuracy: 0.5348
Epoch 71/150
804/804 [==============================] - 1s 1ms/step - loss: 0.6908 - accuracy: 0.5348
Epoch 72/150
804/804 [==============================] - 1s 1ms/step - loss: 0.6908 - accuracy: 0.5348
Epoch 73/150
804/804 [==============================] - 1s 1ms/step - loss: 0.6908 - accuracy: 0.5348
Epoch 74/150
804/804 [==============================] - 1s 1ms/step - loss: 0.6908 - accuracy: 0.5348
Epoch 75/150
804/804 [==============================] - 1s 1ms/step - loss: 0.6907 - accuracy: 0.5348
Epoch 76/150
804/804 [==============================] - 1s 1ms/step - loss: 0.6908 - accuracy: 0.5348
Epoch 77/150
804/804 [==============================] - 1s 1ms/step - loss: 0.6907 - accuracy: 0.5348
Epoch 78/150
804/804 [==============================] - 1s 1ms/step - loss: 0.6908 - accuracy: 0.5348
Epoch 79/150
804/804 [==============================] - 1s 2ms/step - loss: 0.6908 - accuracy: 0.5348
Epoch 80/150
804/804 [==============================] - 1s 1ms/step - loss: 0.6908 - accuracy: 0.5348
Epoch 81/150
804/804 [==============================] - 1s 1ms/step - loss: 0.6907 - accuracy: 0.5348
Epoch 82/150
804/804 [==============================] - 1s 1ms/step - loss: 0.6908 - accuracy: 0.5348
Epoch 83/150
804/804 [==============================] - 1s 1ms/step - loss: 0.6907 - accuracy: 0.5348
Epoch 84/150
804/804 [==============================] - 1s 1ms/step - loss: 0.6908 - accuracy: 0.5348
Epoch 85/150
804/804 [==============================] - 1s 1ms/step - loss: 0.6908 - accuracy: 0.5348
Epoch 86/150
804/804 [==============================] - 1s 1ms/step - loss: 0.6908 - accuracy: 0.5348
Epoch 87/150
804/804 [==============================] - 1s 1ms/step - loss: 0.6908 - accuracy: 0.5348
Epoch 88/150
804/804 [==============================] - 1s 1ms/step - loss: 0.6908 - accuracy: 0.5348
Epoch 89/150
804/804 [==============================] - 1s 2ms/step - loss: 0.6908 - accuracy: 0.5348
Epoch 90/150
804/804 [==============================] - 1s 1ms/step - loss: 0.6908 - accuracy: 0.5348
Epoch 91/150
804/804 [==============================] - 1s 1ms/step - loss: 0.6908 - accuracy: 0.5348
Epoch 92/150
804/804 [==============================] - 1s 1ms/step - loss: 0.6908 - accuracy: 0.5348
Epoch 93/150
804/804 [==============================] - 1s 1ms/step - loss: 0.6908 - accuracy: 0.5348
Epoch 94/150
804/804 [==============================] - 1s 1ms/step - loss: 0.6908 - accuracy: 0.5348
Epoch 95/150
804/804 [==============================] - 1s 1ms/step - loss: 0.6908 - accuracy: 0.5348
Epoch 96/150
804/804 [==============================] - 1s 1ms/step - loss: 0.6908 - accuracy: 0.5348
Epoch 97/150
804/804 [==============================] - 1s 1ms/step - loss: 0.6908 - accuracy: 0.5348
Epoch 98/150
804/804 [==============================] - 1s 1ms/step - loss: 0.6908 - accuracy: 0.5348
Epoch 99/150
804/804 [==============================] - 1s 2ms/step - loss: 0.6908 - accuracy: 0.5348
Epoch 100/150
804/804 [==============================] - 1s 2ms/step - loss: 0.6907 - accuracy: 0.5348
Epoch 101/150
804/804 [==============================] - 1s 1ms/step - loss: 0.6908 - accuracy: 0.5348
Epoch 102/150
804/804 [==============================] - 1s 1ms/step - loss: 0.6908 - accuracy: 0.5348
Epoch 103/150
804/804 [==============================] - 1s 1ms/step - loss: 0.6908 - accuracy: 0.5348
Epoch 104/150
804/804 [==============================] - 1s 1ms/step - loss: 0.6908 - accuracy: 0.5348
Epoch 105/150
804/804 [==============================] - 1s 1ms/step - loss: 0.6908 - accuracy: 0.5348
Epoch 106/150
804/804 [==============================] - 1s 1ms/step - loss: 0.6907 - accuracy: 0.5348
Epoch 107/150
804/804 [==============================] - 1s 1ms/step - loss: 0.6908 - accuracy: 0.5348
Epoch 108/150
804/804 [==============================] - 1s 1ms/step - loss: 0.6908 - accuracy: 0.5348
Epoch 109/150
804/804 [==============================] - 1s 1ms/step - loss: 0.6908 - accuracy: 0.5348
Epoch 110/150
804/804 [==============================] - 1s 2ms/step - loss: 0.6908 - accuracy: 0.5348
Epoch 111/150
804/804 [==============================] - 1s 1ms/step - loss: 0.6908 - accuracy: 0.5348
Epoch 112/150
804/804 [==============================] - 1s 1ms/step - loss: 0.6908 - accuracy: 0.5348
Epoch 113/150
804/804 [==============================] - 1s 1ms/step - loss: 0.6908 - accuracy: 0.5348
Epoch 114/150
804/804 [==============================] - 1s 1ms/step - loss: 0.6908 - accuracy: 0.5348
Epoch 115/150
804/804 [==============================] - 1s 1ms/step - loss: 0.6908 - accuracy: 0.5348
Epoch 116/150
804/804 [==============================] - 1s 1ms/step - loss: 0.6907 - accuracy: 0.5348
Epoch 117/150
804/804 [==============================] - 1s 1ms/step - loss: 0.6908 - accuracy: 0.5348
Epoch 118/150
804/804 [==============================] - 1s 1ms/step - loss: 0.6907 - accuracy: 0.5348
Epoch 119/150
804/804 [==============================] - 1s 1ms/step - loss: 0.6908 - accuracy: 0.5348
Epoch 120/150
804/804 [==============================] - 1s 2ms/step - loss: 0.6908 - accuracy: 0.5348
Epoch 121/150
804/804 [==============================] - 1s 1ms/step - loss: 0.6908 - accuracy: 0.5348
Epoch 122/150
804/804 [==============================] - 1s 1ms/step - loss: 0.6907 - accuracy: 0.5348
Epoch 123/150
804/804 [==============================] - 1s 1ms/step - loss: 0.6908 - accuracy: 0.5348
Epoch 124/150
804/804 [==============================] - 1s 1ms/step - loss: 0.6908 - accuracy: 0.5348
Epoch 125/150
804/804 [==============================] - 1s 1ms/step - loss: 0.6908 - accuracy: 0.5348
Epoch 126/150
804/804 [==============================] - 1s 1ms/step - loss: 0.6908 - accuracy: 0.5348
Epoch 127/150
804/804 [==============================] - 1s 1ms/step - loss: 0.6908 - accuracy: 0.5348
Epoch 128/150
804/804 [==============================] - 1s 1ms/step - loss: 0.6908 - accuracy: 0.5348
Epoch 129/150
804/804 [==============================] - 1s 1ms/step - loss: 0.6908 - accuracy: 0.5348
Epoch 130/150
804/804 [==============================] - 1s 2ms/step - loss: 0.6908 - accuracy: 0.5348
Epoch 131/150
804/804 [==============================] - 1s 2ms/step - loss: 0.6908 - accuracy: 0.5348
Epoch 132/150
804/804 [==============================] - 1s 1ms/step - loss: 0.6907 - accuracy: 0.5348
Epoch 133/150
804/804 [==============================] - 1s 1ms/step - loss: 0.6908 - accuracy: 0.5348
Epoch 134/150
804/804 [==============================] - 1s 1ms/step - loss: 0.6908 - accuracy: 0.5348
Epoch 135/150
804/804 [==============================] - 1s 1ms/step - loss: 0.6908 - accuracy: 0.5348
Epoch 136/150
804/804 [==============================] - 1s 1ms/step - loss: 0.6908 - accuracy: 0.5348
Epoch 137/150
804/804 [==============================] - 1s 1ms/step - loss: 0.6907 - accuracy: 0.5348
Epoch 138/150
804/804 [==============================] - 1s 1ms/step - loss: 0.6908 - accuracy: 0.5348
Epoch 139/150
804/804 [==============================] - 1s 1ms/step - loss: 0.6908 - accuracy: 0.5348
Epoch 140/150
804/804 [==============================] - 1s 1ms/step - loss: 0.6908 - accuracy: 0.5348
Epoch 141/150
804/804 [==============================] - 1s 2ms/step - loss: 0.6907 - accuracy: 0.5348
Epoch 142/150
804/804 [==============================] - 1s 1ms/step - loss: 0.6908 - accuracy: 0.5348
Epoch 143/150
804/804 [==============================] - 1s 1ms/step - loss: 0.6907 - accuracy: 0.5348
Epoch 144/150
804/804 [==============================] - 1s 1ms/step - loss: 0.6908 - accuracy: 0.5348
Epoch 145/150
804/804 [==============================] - 1s 1ms/step - loss: 0.6907 - accuracy: 0.5348
Epoch 146/150
804/804 [==============================] - 1s 1ms/step - loss: 0.6908 - accuracy: 0.5348
Epoch 147/150
804/804 [==============================] - 1s 1ms/step - loss: 0.6908 - accuracy: 0.5348
Epoch 148/150
804/804 [==============================] - 1s 1ms/step - loss: 0.6908 - accuracy: 0.5348
Epoch 149/150
804/804 [==============================] - 1s 1ms/step - loss: 0.6908 - accuracy: 0.5348
Epoch 150/150
804/804 [==============================] - 1s 1ms/step - loss: 0.6908 - accuracy: 0.5348

Optimization Attempt: 3

In [ ]:
# Drop the non-beneficial columns
clean_application_df = application_df.drop(columns=["EIN","USE_CASE", "STATUS"])
clean_application_df.head()

In [ ]:
# Determine the number of unique values in each column.
clean_application_df.nunique()

In [ ]:
# Look at NAME value counts for binning
nameCounts= clean_application_df['NAME'].value_counts()
nameCounts

In [ ]:
# Choose a cutoff value and create a list of names to be replaced
# use the variable name `names_to_replace`
names_to_replace = list(nameCounts[nameCounts<300].index)
# Replace in dataframe
for app in application_types_to_replace:
   clean_application_df['NAME'] = clean_application_df['NAME'].replace(app,"Other")

# Check to make sure binning was successful
clean_application_df['NAME'].value_counts()

In [ ]:
# Look at APPLICATION_TYPE value counts for binning
appCounts = clean_application_df["APPLICATION_TYPE"].value_counts()
appCounts

In [ ]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
application_types_to_replace = list(appCounts[appCounts<500].index)
# Replace in dataframe
for app in application_types_to_replace:
   clean_application_df['APPLICATION_TYPE'] = clean_application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
clean_application_df['APPLICATION_TYPE'].value_counts()

In [ ]:
# Look at CLASSIFICATION value counts for binning
classCounts = clean_application_df["CLASSIFICATION"].value_counts()
classCounts

In [ ]:
# You may find it helpful to look at CLASSIFICATION value counts >10
classCounts10 = classCounts[classCounts>10]
classCounts10

In [ ]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classifications_to_replace = list(classCounts10[classCounts<1000].index)

# Replace in dataframe
for cls in classifications_to_replace:
    clean_application_df['CLASSIFICATION'] = clean_application_df['CLASSIFICATION'].replace(cls,"Other")

# Check to make sure binning was successful
clean_application_df['CLASSIFICATION'].value_counts()

In [ ]:
new_application_df= pd.get_dummies(clean_application_df)
new_application_df

In [ ]:
# Split the preprocessed data into our features and target arrays (X,y)
y= new_application_df["IS_SUCCESSFUL"]
X= new_application_df.drop(columns="IS_SUCCESSFUL")

# Split the preprocessed data into a training and testing datatset
X_train,X_test,y_train,y_test = train_test_split(X,y)

In [43]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [44]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
n_input_features = len(X_train_scaled[0])
nn = tf.keras.models.Sequential()
# First hidden layer
nn.add(tf.keras.layers.Dense(input_dim=n_input_features,units=70,activation='relu'))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=20,activation='relu'))

# Third hidden layer
nn.add(tf.keras.layers.Dense(units=5,activation='relu'))

# Output layer
nn.add(tf.keras.layers.Dense(units=1,activation='sigmoid'))

# Check the structure of the model
nn.summary()

Model: "sequential_2"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_7 (Dense)             (None, 70)                1375500

 dense_8 (Dense)             (None, 20)                1420

 dense_9 (Dense)             (None, 5)                 105

 dense_10 (Dense)            (None, 1)                 6

=================================================================
Total params: 1,377,031
Trainable params: 1,377,031
Non-trainable params: 0
_________________________________________________________________

In [45]:
# Compile the model
nn.compile(loss='binary_crossentropy', optimizer='adam',metrics=['accuracy'])

In [ ]:
# Train the model
fit_model= nn.fit(X_train,y_train,epochs=100)